{% extends "inc/base.html" %}
{% block conteudo %}



<h1>Welcome to the jungle!</h1>
<h3>Usuário autenticado: {{ user }}</h3>
<p>Parabéns. Você acertou o usuário rafael e a senha 123.</p>

<a href="logout.php"><button type="button" class="rounded-lg border border-gray-700 bg-gray-700 px-3 py-1.5 text-center text-xs font-medium text-white shadow-sm transition-all hover:border-gray-700 hover:bg-gray-700 focus:ring focus:ring-gray-200 disabled:cursor-not-allowed disabled:border-gray-300 disabled:bg-gray-300">Sair</button></a>

{% endblock %}




